<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BTS(Best Taste Service)</title>
    <style>
        body {
            background-image: url("./배경이미지.png");
            background-repeat: no-repeat;
            background-size: 45% 135%;
            background-position: center top;}
    </style>
</head>
<body>
    <p style="text-align: center;">&nbsp;</p>
    <p style="text-align: center;">&nbsp;</p>
    <div style="text-align: center;">
        <img src ="output2.png" width="270">
    </div>
    <br>
    <p style="text-align: center; font-size: 15px;">
        <span style="color:#2e6c80; font-weight: bold;">*** Special Service ***</span><Br>
        Enter the ingredient you want to buy!</p>
    <div style="text-align: center;">
        <form action="" autocomplete="off">
            Ingredient : <input type="text" name="search" size="15">
            <input type="submit" value="Submit">
        </form>
    </div>
    <br>
    <div style="text-align: center; font-size: 10px">
        <a href="https://www.ebay.com/itm/163688472703?hash=item261c97e07f%3Ag%3AI3UAAOSwZH1eH5Gr&LH_BO=1">
        <img src ="불고기.png" width="270"></a><br>ⓒ 2021. BTS4U. All rights reserved.
    </div>
    <p style="text-align: center;">&nbsp;</p>
    <br>
    <br>
</body>
</html>