<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BTS(Best Taste Service)</title>
    <style>
        body {
            background-image: url("./static/img/배경이미지.png");
            background-repeat: no-repeat;
            background-size: 45% 150%;
            background-position: center top;}
    </style>
</head>
<body>
    <p style="text-align: center;">&nbsp;</p>
    <p style="text-align: center;">&nbsp;</p>
    <h1 style="color: #5e9ca0; text-align: center;"><span style="color: #000000;">Best Taste Service</span></h1>    
    <h2 style="color: #2e6c80; text-align: center;">Choose one !</h2>
    <div style="text-align: center;">
        <table style="margin:auto;">
            <th>one food</th>
            <th>foods</th>
            <tr>
                <td><a href="photo1"><img style="
                border: 3px dashed gray;
                padding: 3px;
                border-radius: 10px;
                -moz-border-radius: 10px;
                -khtml-border-radius: 10px;
                -webkit-border-radius: 10px;"
                src="./static/img/photo.png" alt= "Photo" style = "max-width: 100%; height: auto;">&ensp;</a></td>
                <td><a href="photo2"><img style="
                border: 3px dashed gray;
                padding: 3px;
                border-radius: 10px;
                -moz-border-radius: 10px;
                -khtml-border-radius: 10px;
                -webkit-border-radius: 10px;"
                src="./static/img/fast-food.png" alt= "Menu" style = "max-width: 100%; height: auto;"></a></td>
            </tr>
        </table>
    </div>
    <br>
    <p style="text-align: center; font-size: 10px;">ⓒ 2021. BTS4U. All rights reserved.</p>
    <br>
</body>
</html>