<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BTS(Best Taste Service)</title>
    <style>
        body {
            background-image: url("./static/img/배경이미지.png");
            background-repeat: no-repeat;
            background-size: 45% 139%;
            background-position: center top;}
    </style>
</head>
<body>
    <p style="text-align: center;">&nbsp;</p>
    <p style="text-align: center;">&nbsp;</p>
    <h1 style="color: #5e9ca0; text-align: center;"><span style="color: #000000;">Best Taste Service</span></h1>
    <h2 style="color: #2e6c80; text-align: center;">Enter the food sound<br>you want to know !</h2>
    <br>
    <div style="text-align: center;">
        <form action="/ouput_voice" method="POST" enctype="multipart/form-data">
            <input type="file" name="file_voice" accept="video/*">
            <button type="submit" value="submit_voice">제출_voice</button>
        </form>
    </div>
    <div style="text-align: center; font-size: 10px;">
        <img src ="./static/img/logo.png" width="300" height="300"><br>ⓒ 2021. BTS4U. All rights reserved.
    </div>
    <p style="text-align: center;">&nbsp;</p>
    <p style="text-align: center;">&nbsp;</p>
</body>
</html>